{% extends 'front-end/base.html'%}
{% load static %}
{% block content%}
    <main class="projetos__intro">
        <section class="intro-chamada">
            <h1 class="projetos__intro-texto">branding</h1>
        </section>
            
            <section class="projetos__intro-conteudo efeito__img-conteudo">

            <div class="cards">
                {% if cards %}
                {% for caricatura in cards %}
                <img src="{% static 'imagens/'%}{{caricatura.foto}}" alt="{{caricatura.nome}}" class="projetos__intro-imagen">          
                {% endfor %} 
                {% else %}
                {% endif %}
            </div> 
        </section>
    </main>
{% endblock %}