{% extends 'front-end/base.html'%}
{% load static %}
{% block content%}

    <main class="projetos__intro">
        <section class="intro-chamada">
            <h1 class="projetos__intro-texto">caricaturas</h1>
        </section>
        <li class="cards">
            <section class="projetos__intro-conteudo efeito__img-conteudo">
                <img src="{% static 'imagens/eagle imagens.jpg' %}" alt="Projeto Eagle" class="projetos__intro-imagen">
        </li>
            </section>
    </main>
{% endblock %}