{% extends 'front-end/base.html'%}
{% load static %}
{% block content%}
    <main class="projetos__intro">
        <section class="intro-chamada">
            <h1 class="projetos__intro-texto">branding</h1>
        </section>
            
            <section class="projetos__intro-conteudo efeito__img-conteudo">

            <div class="cards">
                {% if cards %}
                {% for fotografia in cards %}
                {% if fotografia.foto == "" or fotografia.foto == null %}
                <img src="{% static 'imagens/not_found.png'%}" alt="{{fotografia.nome}}" class="projetos__intro-imagen">
                {% else %}
                <img src="{{fotografia.foto.url}}" alt="{{fotografia.nome}}" class="projetos__intro-imagen">
                {% endif %}      
                {% endfor %} 
                {% else %}
                {% endif %}
            </div> 
        </section>
    </main>
{% endblock %}