.intro-chamada{
    background-image: url(../imagens/fundo_textura.png);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 700;
    padding: 4.5rem 0 4.5rem 0 ;
}

.projetos__intro-conteudo{
    padding: 2.75rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.projeto__intro-imagen{
    padding: 2.75rem;
}

.cards{
    width: 30.6rem;
    height: 33.3rem;
    display: flex;
    justify-content: space-between;
}
