{% load static %}
<footer class="rodape">
    <div class="box-reodape-geral">
        <a href="https://www.instagram.com/renancompan.dsgn/" class="rodape-link"><img src="{% static 'imagens/insta.png' %}" alt="logo do Instagram"></a>
        <a href="https://wa.me/21971559192" class="rodape-link"><img src="{% static 'imagens/whats.png' %}" alt="Logo do Whatsapp"></a>
        <div class="box-rodape-texto">
            <p class="rodape-text">© 2024 por Luiz Compan </p>
        </div>
    </div>
</footer>